.all {
    background-color: salmon;
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    
}
.aboutmeBackgroundInterests{
    float: right;

}


#name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}

.imagess {
    width: 20%;
    margin: 0 0 0 0px;

}
.smaller-text{
    font-size: 50%;
}









 .left-side-line {

    float: left;
}

li::before {
    content: '\1F47D';
    margin-left: -20px;
    margin-right: 10px;
    list-style-type: none;
}
ul {
    list-style-type: none;
}
.langage {

    font-size: small;


}

/*
.headers {}

.textalign {
    text-align: center;
}
li { 
    margin-left: auto;
margin-right: auto;
}
