/*for background things*/
.all {
    background-color: salmon;
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    
}


/*puts name in center and adds font to it*/
#name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}
/*makes image to fit size*/
.imagess {
    width: 20%;    
    }
/*moves project section to the left side of page*/
.left-side-line {

    float: left;
}

/*resizing lines in project section*/
.langage {

    font-size: small;
}
/*makes text in project smaller*/
.smaller-text{
    font-size: 50%;
}
/*puts other 3 sections onto the right side*/
.aboutmeBackgroundInterests{
    float: right;
}


/*for emojis bullets*/
li::before {
    content: '\1F47D';
    margin-left: -20px;
    margin-right: 10px;
    list-style-type: none;
}
ul {
    list-style-type: none;
}

/*for resizing page*/
@media {
    

FINSIH THIS


}




/*
.headers {}

.textalign {
    text-align: center;
}
li { 
    margin-left: auto;
margin-right: auto;
}
